.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1400px;
  //margin: 2px;
  //border: 1px solid lightcoral;
  //height: 100%;
  //width: 100%;

  &.small {
    max-width: 768px;
  }

  &.medium {
    max-width: 1200px;
  }

  &.large {
    max-width: 1400px;
  }
}
