@import "../../sass/variables.scss";


.navbar {
  padding: 10px;
  background-color: $blue;
  //border: 1px solid lightgreen;
}

.navbar-inner {
  //border: 1px solid lightcoral;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .navbar-inner {
    flex-direction: column;
    gap: 20px;
  }
}

.navbar-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-section-left {
  //border: 1px solid lightblue;
}

.logo {
  color: $white;
  font-size: 24px;
  font-family: $poppins;
  text-decoration: none;
  font-family: $poppins;
  position: relative;

  &:before {
    content: '';
    height: 28px;
    width: 28px;
    border: 2px solid $white;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.list {
  display: flex;
  padding: 0;
  margin: 0;
}

.list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .nav-item {
    display: block;
    padding: 10px;
    color: $white;
    font-size: 16px;
    font-family: $poppins;
    text-decoration: none;
  }
}

.cta {
  padding: 13px 25px;
  border-radius: 5px;
  color: $blue;
  background-color: $white;
  font-size: 16px;
  font-family: $poppins;
  display: inline-block;
  text-decoration: none;    
}