@import "src/sass/variables";

.faq-header {
  // padding: 50px 0 50px 0;
  text-align: center;
  color: $blue;
  padding: 5rem 3rem 3rem 3rem;
  // background-color: $blue;
}

.faq-header-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2em;

  span {
    font-weight: 600;
  }
}

.cta {
  padding: 13px 25px;
  border-radius: 5px;
  color: $blue;
  background-color: $white;
  font-size: 16px;
  font-family: $poppins;
  display: inline-block;
  text-decoration: none;    
}

@media (max-width: 500px){
    
  .faq-header-title {
    font-size: 35px;
  }
 
}