@import "../../../sass/variables";

.faq-list {
  background-color: $white;
  text-align: left;
  padding: 0rem 5rem 5rem 5rem;
  color: $blue;
}

.faq-list-inner {
  display: flex;
  flex-direction: column;
  gap: 25px;
}


@media (max-width: 500px){
    
  .faq-list{
    padding: 0 2rem 5rem 2rem;
  }
 
}

